/* Color Palette
  #E8DDB5 Dutch White
  #885053 Tuscan Red
  #FE5F55 Orange Red Crayola
  #FFBF69 Mellow Apricot
  #94C9A9 Eton Blue
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-button {
  display: flex;
  flex-direction: column;
}

.grocery-list-item {
  display: flex;
}